<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
  <title>F54148</title>
  <meta charset="UTF-8">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>


<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-5 mb-4 border-bottom" th:fragment="header">

  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img class="bi me-2 " src="http://localhost:9080/images/badger.png"  width="40" height="32" role="img" aria-label="Money Badger"  />
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a th:href="@{'/incomes/'+${userId} +'/all'}" class="nav-link px-2 link-dark">Income</a></li>
    <li><a th:href="@{'/expenses/'+${userId} +'/all'}" class="nav-link px-2 link-dark">Expenses</a></li>
    <li><a href="/reports" class="nav-link px-2 link-dark">Reports</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
  </div>
</header>

<footer page-footer font-small>
  <div class="footer-copyright text-center py-3">
    <p>F54148 Светозара Минкова</p>
  </div>
</footer>
<!-- JavaScript Bundle with Popper -->
<script th:fragment="script" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>
