<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container">
    <div class="max-auto">
        <h4 th:if="${incomes.size()>0}" th:text="'Incomes: ' + ${incomes.size()}"> </h4>
        <h3 th:unless="${incomes} and ${incomes.size()}">There are no registered incomes! Consider adding some?</h3>
        <table th:if="${incomes.size()>0}" class="table table-hover">

            <th>Description</th>
            <th>Amount</th>
            <th>Period</th>
            <th>Since</th>
            <th>Edit</th>

            <tr th:each="income : ${incomes}">

                <td th:text="${income.name}"></td>
                <td th:text="${income.value}"></td>
                <td th:text="${income.timeframe}"></td>
                <td th:text="${income.dateAdded}"></td>
                <td><a class="btn btn-info" th:href="@{'/incomes/edit-income/'+${userId}+'/'+${income.id}}">Edit</a></td>
                    </tr>
        </table>
        <a  th:href="@{'/incomes/add-income/'+${userId}}" class="btn btn-warning">
            Add Income
        </a>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
<script th:replace="fragments :: script" ></script>
</html>